img {
  width: 100%;
  height: 100%;
}
#map {
  width: 1370px;
  height: 562px;
  position: relative;
  text-align: center;
}
.mapSVG {
  position: absolute;
  left: 0;
  top: 0;
  width: 1370px;
  height: 562px;
  opacity: 0.5;
}
.mapSVG path {
  fill: aqua; /*цвет при наведении*/
  opacity: 0;
  cursor: pointer;
}
.mapSVG path:hover {
  opacity: 1 !important;
}
.info {
  display: none;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.infoText {
  text-align: center;
}
.infoImg {
  width: 500px;
  height: 500px;
}
